html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F7F8;
  }
  
  .center {
    text-align: center;
  }
  
  h1 {
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 75px;
    border-left: 3px solid #F4CE14;
    border-right: 3px solid #F4CE14;
    color: #495E57;
    letter-spacing: 2px;
}

p {
    color: red;
}

.form input {
    text-align: center;
    border-radius: 8px;
    border: 0;
    width: 270px;
    height: 40px;
    margin-bottom: 8%;
    font-size: 17px;
    color: #495E57   
}

.form input[type=submit] {
    background-color: #F4CE14;
    font-size: 23px;
    font-weight: 500;
}

@-moz-document url-prefix() {
    h1 {
        width: 300px;
        text-align: center;
    }
}